<!DOCTYPE HTML>
<!--
  Based on
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117339330-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117339330-3');
    </script>

		<title>Unsupervised Robust Disentangling of Latent Characteristics for
      Image Synthesis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Banner -->
			<section id="banner">
        <h2>Unsupervised Robust Disentangling <br/>of Latent
          Characteristics <br/>for
          Image Synthesis</h2>
        <p>
        <a href="https://github.com/pesser">Patrick Esser</a>, 
        <a href="https://github.com/jhaux">Johannes Haux</a>,
        <a href="https://hci.iwr.uni-heidelberg.de/Staff/bommer">Bj&ouml;rn Ommer</a><br/>
        <a href="https://www.iwr.uni-heidelberg.de/">IWR, Heidelberg University</a><br/>
        <a href="http://iccv2019.thecvf.com/">ICCV 2019</a></p>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium) vert-center">
                  <div class="container 25%">
                    <div class="image fit captioned align-center">
                      <a href="images/rodi.pdf">
                        <img src="images/paper.jpg" alt="" style="border:1px solid black"/>
                      </a>
                      <a href="https://arxiv.org/">arXiv</a>
                      <div class="headerDivider"></div>
                      <a href="images/rodi.bib">BibTeX</a>
                      <div class="headerDivider"></div>
                      <a href="https://github.com/CompVis/robust-disentangling">GitHub</a>
                      <br/>
                    </div>
                  </div>
							</div>
							<div class="6u$ 12u$(medium)">
                <h1>Abstract</h1>
                <p>
Deep generative models come with the promise to learn an explainable
representation for visual objects that allows image sampling, synthesis, and
selective modification. The main challenge is to learn to properly model the
independent latent characteristics of an object, especially its appearance
and pose. We present a novel approach that learns disentangled
representations of these characteristics and explains them individually.
Training requires only pairs of images depicting the same object appearance,
but no pose annotations.  We propose an additional classifier that estimates
the minimal amount of regularization required to enforce disentanglement.
Thus both representations together can completely explain an image while
being independent of each other. Previous methods based on adversarial
approaches fail to enforce this independence, while methods based on
variational approaches lead to uninformative representations.  In
experiments on diverse object categories, the approach successfully
recombines pose and appearance to reconstruct and retarget novel synthesized
images. We achieve significant improvements over state-of-the-art methods
which utilize the same level of supervision, and reach performances
comparable to those of pose-supervised approaches.  However, we can handle
the vast body of articulated object classes for which no pose
models/annotations are available.
                </p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Results</h2>
							<p>and applications of our model.</p>
						</header>

            __TEMPLATE_STRING__

				  </div>
				</section>


			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Acknowledgement</h2>
              <p>This work has been funded by the German Research Foundation
              (DFG projects 371923335; 421703927)<br/>and a hardware donation from NVIDIA.
              This page is based on a design by <a href="http://templated.co">TEMPLATED</a>.</p>
						</header>
					</div>
				</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
